# Explanation: As obj is used for compilation/Intermediate files it consistently updates per user as our directories are different so if we ignore it we never have to worry about git pushing issues if doing git add . or similar commands
obj/
bin/
